.header{
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white; 
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    background: transparent;
    backdrop-filter: blur(10px);
     
}

.logo-img{
    width: 100px;
    margin-left: 50px;
    cursor: pointer;
}

.logo-img:hover{
    transform: translateY(-3px);
}

.header{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li{
    display: flex;
    align-items: center;
    margin-right: 80px;
    cursor: pointer;
    font-size: 20px;    
}


li:hover{
    color:darkred;
    transform: translateY(-3px);
    
}